<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">

    <!-- Common Settings Should be same for each Environment -->
    <settings>
      <setting name="AADInstance" value="https://login.microsoftonline.com/{0}" />
      <setting name="AuthorityUri" value="https://login.microsoftonline.com/common/" />
      <setting name="GraphResourceUri" value="https://graph.microsoft.com" />
    </settings>

    <!-- Settings for Local -->
    <settings env:require="Local">
      <setting name="Sitecore_ClientId" value="" />
      <setting name="Sitecore_ClientSecret" value="" />
      <setting name="Sitecore_Tenant" value="" />
      <setting name="Sitecore_PostLogoutRedirectURI" value="https://test.com/sitecore/login"/>
      <setting name="Sitecore_RedirectURI" value="https://test.com/sitecore" />
      <setting name="Sitecore_ClientCertificate" value="B982D9BE00213CE8D4914A2C2BB0D8252EC611E3" />
    </settings>

    <pipelines>
      <owin.identityProviders>
        <!-- This is the custom processor that gets executed when azure AD posts the token to Sitecore -->
        <processor type="Foundation.Auth.Processors.SitecoreAzureADIdentityProviderProcessor, Foundation.Authentication" resolve="true" />
      </owin.identityProviders>
    </pipelines>
    
  </sitecore>
</configuration>